
.parrafo {
    /* margin-bottom: -2px !important*/
}

.h3 {
    font-size: 19px
}

.cursor {
    cursor: pointer
}

.bordes:hover {
    border: 1px solid #2C3E50
}

#color1, #color2, #color3, #color4 {
    text-align: -webkit-center;
    background-color: #fff;
    padding: 10px;
    border: 3px solid #fff;
}

.padre {
    width: 100%;
    display: table;
    height: 172.45px;
}

.hijo {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bolder;
    /* color: #1e1e1e;*/
}

.version {
    border-bottom: 1px solid #ccc
}

.colorFondo {

    background-color: #FCEADE;

}

.colorBordeLeftCyQ {
    border-left: 5px solid #E3E3E1;
}

.colorBordeLeftEyL {
    border-left: 5px solid #E5E8DF;
}

.colorBordeLeftPyC {
    border-left: 5px solid #FCEADE;
}


.hoverEL {

    border: 4px solid #ccc !important;
}

.hoverHome {
    border: 2px solid #ccc !important;
}


.hoverEC {

    border: 4px solid #dedbdb !important;
}


.margenEC {
    margin-top: 10px;
}

.lineaBordeEC {
    border-bottom: 4px solid #FCEADE;
}

.lineaBordeEL {
    border-bottom: 4px solid #E5E8DF;
}

.lineaBordeEQ {
    border-bottom: 4px solid #E3E3E1;
}

.fondoBotonEL {
    background-image: url("http://www.mgrderma.com.ar/images/backgrounds/fondoGris.jpg") !important;
    border: 4px solid #dce0d3;
}

.fondoBotonEC {

    background-color: #FCEADE !important;
    border: 4px solid #e4e4e4;
    color: #717171 !important;

}

.colorDiamante {
    color: #b7aaaa !important;
}

.letraEL {
    color: #6b6565 !important;
    min-height: 83px
}

.linkContacto {
    cursor: pointer;
    border: 1px solid #fdb381;
    padding: 0 4px 0 4px;
}

.contenido-formulario {
    max-width: 50%;
    margin:0 auto ;
}

.disabled{
    display: none;
}
.enabled{
    display: block;
}
