<div class="panel-body   panelNoCopy">
    <ul class="highlights list-unstyled">
        <li class="version lineaBordeEC">
            <h3><strong>Publicaciones Perdidas</strong></h3>

        <li>
            <!-- 1ra fila -->
            {{#publicacion}}
                <div class="row">
                    {{fecha}}
                    {{mascotaRescatada.persona.nombre}}

                </div>
            {{/publicacion}}
        </li>
    </ul>
</div> 


