<div class="panel panel-default ">
    <div class="panel-heading ">
        <h1 class="text-center"> Mascotas perdidas</h1>
        <br>
        <br>
        <p class="text-gray">Aca encontraras a tu mascota perdida.</p>
    </div>
    <div class="panel-body">
        <ul class="highlights list-group" data-max-height="400"
            style="max-height: 600px; overflow-y: auto;overflow-x: hidden">
            <!-- 1ra fila -->
            {{#publicacion}}
            <li class="list-item publicacion-contenedor " style="margin: 50px 2.5rem;">
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex col-sm-12 ">
                        <div class="imagen-contenido text-center">
                            <h3 class="title p-1 ">{{mascota.tipoMascota.nombre}} PERDIDO </h3>
                            {{#mascota.mascotaFotos}}
                            <img src="{{{valorFoto}}}" class="img-responsive " alt=""/>
                            {{/mascota.mascotaFotos}}
                        </div>
                    </div>
                    <p class="text-gray d-flex justify-end fecha-publicacion text-bold hidden-md">
                        <small>{{fecha}}</small></p>
                    <div class="col-md-6 col-lg-8  col-sm-12 ">


                        <div class="flex-column">
                            <div class="publicacion-adoptar-contenido">
                                <h4 class="text-underline">Sobre la mascota</h4>
                                <div class="publicacion-info">


                                    <p><span><i
                                            class="fas fa-paw"></i>  Rescatista</span>: {{mascota.persona.nombre}}
                                    </p>
                                    <p><span><i
                                            class="fas fa-paw"></i>  Tamaño mascota</span>:
                                        {{mascota.tamanioMascota.descripcion}}
                                    </p>
                                    <p style="padding-right: 1rem"><span><i
                                            class="fas fa-paw"></i>  Tipo Mascota</span>:{{mascota.tipoMascota.nombre}}
                                    </p>
                                    <p style="padding-right: 1rem"><span><i
                                            class="fas fa-paw"></i>  Encontrada en</span>:{{mascota.ubicacionMascotaRescatadas.direccion}}
                                    </p>
                                    <p style="padding-right: 1rem"><span><i
                                            class="fas fa-paw"></i>  Hogar de transito</span>:{{hogar.idHogar}}</p>
                                    <p style="padding-right: 1rem"><span><i
                                            class="fas fa-paw"></i>  Descripcion</span>:{{mascota.descripcion}}</p>

                                </div>
                            </div>
                            <div class="d-flex justify-evenly publicacion-botonera ">
                                <button class="btn btn-secondary btn-icon"><i class="fas fa-search"></i>
                                    <span>Es mi mascota!</span></button>
                            </div>
                        </div>

                    </div>

                </div>
            </li>
            {{/publicacion}}
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: "#appVue",
            data: {
                usuario: "",
                clave: "",
                mensaje: "No estoy logueado",
            },
            methods: {
                auth: function () {
                    fetch("https://grupo10patitas.herokuapp.com/usuario/login", {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            usuario: this.usuario,
                            clave: this.clave
                        })
                    })
                        .then(response => response.json())
                        .then(datos => {
                            localStorage.setItem("IDSESION", datos.idSesion) //guarda ID
                            $(location).attr('href', 'principal-nav.html')
                            $('#navegacionAjax').html(html);
                        })
                }
            }
        })
    </script>

</div>

