<head xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<div class="main-content">
    <section class="profile-env" id="detalleMascota">
        <div class="row">
            <div class="col-sm-4">
                <img v-bind:src="mascota.mascotaFotos[0].valorFoto" class="img-circle" alt="user-pic">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-6" >
                <h4>Tipo: {{mascota.tipoMascota.nombre}}</h4>
                <h4>Nombre: {{mascota.nombre}}</h4>
                <h4>Apodo: {{mascota.apodo}}</h4>
                <h4 v-if="edad != null">Edad: {{mascota.edad}}</h4>
                <h4>Sexo: {{mascota.sexoMascota.descripcion}}</h4>
                <h4>Fecha de nacimiento: {{mascota.fechaNacimiento}}</h4>
                <h4>Descripcion: {{mascota.descripcionFisica}}</h4>
            </div>
        </div>
        <hr>
        <div class="col-sm-12">
            <strong>Caracteristicas:</strong>
            <p v-for="caracteristica in mascota.caracteristicaDetalles">
                {{caracteristica.faq.descripcionFaq}}:
            </p>
        </div>
        <div class="row">
            <div class="col-sm-7"></div>
            <div class="col-sm-5">
                <button>Dar de baja</button>
                <button>Dar en adopción</button>
            </div>
        </div>
    </section>
</div>
</body>
</html>

<script>
    var idMascota = localStorage.getItem("idMascota");

    var app = new Vue({
    el:'#detalleMascota',
    data:{
        mascota:'test'
    },
    created(){
        fetch('http://localhost:8080/mascota/' + idMascota)
            .then(response => response.json())
            .then(data =>{
                this.mascota = data
            })
        }
    })
</script>
