<head xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<div class="main-content">
    <section class="profile-env" id="detalleMascota">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <img v-bind:src="mascota.mascotaFotos[0].valorFoto" class="img-circle" alt="user-pic">
            </div>
            <div class="col-sm-4">

            </div>
        </div>
        <hr>
        <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>Tipo: {{mascota.tipoMascota.nombre}}</td>
                <td>Nombre: {{mascota.nombre}}</td>
                <td>Apodo: {{mascota.apodo}}</td>
                <td>Edad: {{mascota.edad}}</td>
                <td>Sexo: {{mascota.sexoMascota.descripcion}}</td>
                <td>Descripcion: {{mascota.descripcionFisica}}</td>
            </tr>
            </tbody>
        </table>
        <div class="col-sm-12">
            <ul>
                <li v-for="caracteristica in mascota.caracteristicaDetalleValorResumidoDTO">
                    <ul>
                        <strong>{{caracteristica.descripcionFaq}}:</strong>
                        <span v-for="respuesta in caracteristica.cracteristicaDetalleValorResumidoDTO">
                            {{ respuesta.descripcion }}
                        </span>
                    </ul>
                </li>
            </ul>
        </div>
        <hr>
        <div class="row" style="margin-top:100px">
            <div class="col-sm-6">
                <button><a href="#" onclick="usuario()"><i class='fa fa-long-arrow-left'></i>Volver</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-icon btn-red"> Dar de baja </button>
                <button class="btn btn-icon btn-red"> Dar en adopcion </button>
            </div>
        </div>
    </section>
</div>
</body>
</html>

<script>
    var idMascota = localStorage.getItem("idMascota");

    var app = new Vue({
    el:'#detalleMascota',
    data:{
        mascota:'test'
    },
    created(){
        fetch('https://grupo10patitas.herokuapp.com/mascota/' + idMascota)
            .then(response => response.json())
            .then(data =>{
                this.mascota = data
            })
        }
    })
</script>
