
<div class="panel-body"> 
    <ul class="highlights list-unstyled"> 
        <li> 
            <div class="row">
                <div class="col-md-12" > 
                    <div class="hijo"><img src="images/inicio/inicio.png" style="width: 100%;"></div>
                 
                </div>
            </div>
        </li> 
    </ul> 
</div> 

<script>
    $(".cursor").hover(
            function () {
                $(this).addClass("hoverHome");
                ;
            }, function () {
        $(this).removeClass("hoverHome");
    }
    );

</script>



