<h3><strong>Registar</strong></h3>

<div class="col-md-12">
    <h4 class="title">
        <strong>Empadronamiento de Personas con sus mascotas:</strong>
    </h4>
    <br>
    <br>

</div>
<!-- 1ra fila -->
<div class="row">
    <div class="col-sm-4">
        <div class="xe-widget xe-counter xe-counter-blue cursor bordes"  id="altaMascota" onclick="registrarAltaMascota('altaMascota');">
            <div class="xe-icon">
                <i class="linecons-user"></i>
            </div>
            <div class="xe-label">
                <strong>Alta persona - Mascota</strong>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="xe-widget xe-counter xe-counter-blue cursor bordes"
             onclick="showAjaxModalInstitucional('busquedaMascota');">
            <div class="xe-icon">
                <i class="fa fa-paw"></i>
            </div>
            <div class="xe-label">
                <strong>Buscar Mascota por Documento</strong>
            </div>
        </div>
    </div>


</div>


<!-- Modal 1 (Basic)-->
<div class="modal fade custom-width" id="modal-institucional">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <span class="fa fa-spin fa-circle-o-notch"></span>

        </div>
    </div>
</div>



