<html>
<head>
    <meta name="LANGUAGE" content="es"/>
    <meta name="DISTRIBUTION" content="Global"/>
    <title>Patitas</title>
    <meta name="application-name" content="patitas.com.ar"/>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alexander Ortega">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/xenon-components.css">
    <link rel="stylesheet" href="assets/css/xenon-core.css">
    <link rel="stylesheet" href="assets/css/xenon-forms.css">
    <link rel="stylesheet" href="assets/css/xenon-skins.css">
    <link rel="stylesheet" href="assets/css/xenon.css">
    <link rel="stylesheet" href="assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/js/uikit/uikit.css">
    <link rel="stylesheet" href="assets/js/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/js/jquery-ui/jquery-ui.theme.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
<div id="appVue">

    <table class="table table-bordered table-striped">
        <tr v-for="mascota in mascotas">
            <td>{{mascota.nombre}}</td>
            <td>{{mascota.idMascota}} </td>
            <td><button>Ver</button></td>
        </tr>
    </table>

</div>
</body>

<script>
    var app = new Vue({
        el: "#appVue",
        data: {
            // mascotasHardcode: [{id: 1, nombre: "Juan", raza: "PEPE"}, {id: 1, nombre: "Juana", raza: "PEPA"}],
            mascotas: []
        },
        created () {
            fetch('http://localhost:8080/mascota/all')
                .then(response => response.json())
                .then(data => {
                    this.mascotas = data
                })
        }
    })

var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  }
})
</script>
</html>