<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta name="LANGUAGE" content="es"/>
    <meta name="DISTRIBUTION" content="Global"/>
    <title>Patitas</title>
    <meta name="application-name" content="patitas.com.ar"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<section class="profile-env">
    <div class="row">
        <div class="col-sm-2" id="datosPersona">
            <div class="user-info-slidebar">
                <a href="#" class="user-img"><img src="https://cdn-icons-png.flaticon.com/128/3135/3135707.png" class="img-circle" alt="user-pic"></a>
                <hr>
                <span> <strong>Numero de usuario</strong>: {{persona.idPersona}} </span><br>
                <span class="user-title"><strong>Nombre</strong>: {{persona.nombre }} {{persona.apellido}}</span>
            </div>
        </div>
        <div class="col-sm-10" id="mascotas">
            <strong>Mis mascotas</strong>
            <hr>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Numero de la mascota</th>
                    <th>Nombre de la mascota</th>
                    <th>Fecha de nacimiento</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{mascota.idMascota}} </td>
                    <td>{{mascota.nombre}}</td>
                    <td>{{mascota.fechaNacimiento}}</td>
                    <td><button><a href="#" v-on:click="hola(mascota.idMascota)">Ver</a></button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>

<script>
    var app = new Vue({
        el: "#mascotas",
        data: {
            mascota: 'test'
        },
        created () {
            fetch('http://localhost:8080/mascota/1')
                .then(response => response.json())
                .then(data => {
                    this.mascotas = data
                })
        },
    methods: {
        hola:function (id){
           localStorage.setItem("idMascota",id)
           $.ajax({
                url: "view/detalleMascota.html?",
                async: true,
                dataType: "html",
                type: "GET",
                complete: function () {
                },
                success: function (html) {

                $('#navegacionAjax').html("");
                $('#navegacionAjax').html(html);

                }
            });
        }
    }
    })
    var datosPersona = new Vue({
    el:'#datosPersona',
    data:{
        persona: 'hola'
    },
    created(){
        fetch('http://localhost:8080/personas/10')
        .then(response => response.json())
        .then(data =>{
            this.persona = data
        })
    }
})
</script>
</html>