
  <div class="row">
          <div class="col-lg-12">

                  <div class="panel panel-headerless">
                      <div class="panel-body"> <div class="member-form-add-header">

                          <div class="row">
                              <div class="col-md-2 col-sm-4 pull-right-sm">
                              </div>
                              <div class="col-md-10 col-sm-8">
                                  <div class="user-img">
                                      <img src="https://images.vexels.com/media/users/3/147103/isolated/lists/e9bf9a44d83e00b1535324b0fda6e91a-icono-de-linea-de-perfil-de-instagram.png" class="img-circle" alt="user-pic">
                                  </div>
                                  <div class="user-name">
                                      <h3>Nombre de la persona logueada</h3>
                                      <h5>Fecha nacimiento</h5>
                                      <h5>DNI</h5>
                                  </div>


                                  <div class="col-lg-8">

                                      <div class="col-sm-12">
                                          <strong>Mis mascotas</strong>
                                          <table class="table table-model-2 table-hover">
                                              <thead>
                                          <tr>
                                              <th>ID DE MASCOTA</th>
                                              <th>NOMBRE DE MASCOTA</th>
                                              <th>EDAD DE MASCOTA</th>
                                              <th>DETALLES</th>
                                          </tr>
                                              </thead>
                                              <tbody>
                                              <tr>
                                                  <td>1</td>
                                                  <td>Gino</td>
                                                  <td>5</td>
                                                  <td><button>VER</button></td>
                                              </tr>
                                              <tr>
                                                  <td>2</td>
                                                  <td>Luba</td>
                                                  <td>2</td>
                                                  <td><button>VER</button></td>
                                              </tr> <tr>
                                                  <td>3</td>
                                                  <td>Mona</td>
                                                  <td>7</td>
                                                  <td><button>VER</button></td>
                                              </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                      </div>
                  </div>
          </div>
  </div>

                          <script src="assets/js/bootstrap.min.js"></script>
                          <script src="assets/js/xenon-custom.js"></script>

                          <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

                          <script src="js/vue.js"></script>
