<h3><strong>Registar</strong></h3>


<form role="form" id="formularioAltaMascota" enctype="multipart/form-data">
    <input type="hidden" value="" name="idPersona" id="idPersona">
    <div id="registarMascotaAlta">
        <!-- 1ra fila -->
        <div class="row" id="registarMascota">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Alta Mascota</h3>
                    </div>
                    <div class="panel-body">

                        <!-- nivel 1 -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Nombre:</label>
                                            <input type="text" name="nombre" class="form-control" id="nombre" required
                                                   placeholder="Nombre">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Apodo:</label>
                                            <input type="text" name="apodo" class="form-control" id="apodo" required
                                                   placeholder="Apodo">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group" id="tipoMascota">
                                            <label>Tipo de mascota:</label>
                                            <p>
                                                <label class="radio-inline" v-for="tipoMacota in tipoMacotasList">
                                                    <input type="radio" name="idTipoMascota"
                                                           :value="tipoMacota.idTipoMascota" id="idTipoMascota">
                                                    {{ tipoMacota.nombre }}
                                                </label>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="fechaNacimientoAlta">Fecha de nacimiento:</label>
                                            <input type="text" name="fechaNacimiento" id="fechaNacimientoAlta"
                                                   class="form-control datepicker" data-end-date="-1d">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group" id="sexoMascota">
                                            <label>Sexo Mascota:</label>
                                            <select class="form-control" id="idSexo" name="idSexo">
                                                <option v-for="sexo in Sexos" :value="sexo.idSexo"
                                                        :selected="sexo.idSexo == 1">
                                                    {{sexo.descripcion }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- sube img -->
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6 col-lg-offset-3">
                                        <img src="" id="srcImg" style="width: 30%" alt=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="valorFoto" id="valorFoto" value="">
                                    <label class="control-label" for="fileLoader">Imagen Mascota</label>
                                    <input type="file" name="file" class="form-control" id="fileLoader"
                                           onchange="loadImageFileAsURL()">
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-lg-offset-3" id="msgAltaMascota">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-lg-offset-3" id="qr" style="text-align: center; border-bottom: 1px solid #2C3E50 ">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <!-- nivel 2 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Descripción fisica de la mascota:</label>
                                    <textarea name="descripcionFisica" class="form-control"
                                              id="descripcionFisica"></textarea>
                                </div>
                            </div>

                        </div>

                        <hr style="border-top: 2px solid #2C3E50"/>
                        <br>
                        <!-- nivel3 caracteristicaMascota-->
                        <div class="row" id="caracteristicaMascota">
                            <div class="col-lg-3">
                                <label>Caracteristicas:</label>
                            </div>
                            <div class="col-lg-9">
                                <div class="form-group" v-for="(valor,key) in listCaracteristicas" :key="key">
                                    <strong><label>{{valor.descripcionFaq}}:</label></strong>
                                    <input type="hidden" :name="radioName+abre+key+cierra+idFaq" :value="valor.idFaq">

                                    <p>
                                        <label class="radio-inline"
                                               v-for="(respuestas,key1) in valor.faqRespuestaValors">
                                            <input :id="radioName+key1"
                                                   @click="insertInput(radioName+key,key,valor.faqComportamientoTipo.descripcion)"
                                                   :type="valor.faqComportamientoTipo.descripcion"
                                                   :name="radioName+key"
                                                   :value="respuestas.idRespuestaValor">
                                            {{ respuestas.descripcion }}
                                        </label>
                                    </p>
                                </div>
                                <div id="inputOcultos"></div>
                            </div>


                            <div class="form-group">
                                <button type="button" onclick="altaMascota()"
                                        class="btn btn-info btn-single pull-right">
                                    Alta Mascota
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</form>

<br>
<br>
<br>


<div class="modal fade" id="modal-alta-mascota" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">El Alta se realizó con exito</h4>
            </div>
            <div class="modal-body">
                Ahora vamos a dar de alta a una mascota
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" onclick="asdasd(10)">Alta Mascota</button>
            </div>
        </div>
    </div>
</div>


<script>
    /*tipo mascota*/
    var app = new Vue({
        el: "#tipoMascota",
        data: {
            tipoMacotasList: []
        },
        created() {
            fetch('https://backendpatitas.herokuapp.com/mascota/tipo')
                .then(response => response.json())
                .then(data => {
                    this.tipoMacotasList = data
                })
        }
    })
    /*Sex mascota*/
    var app = new Vue({
        el: "#sexoMascota",
        data: {
            Sexos: []
        },
        created() {
            fetch('https://backendpatitas.herokuapp.com/mascota/sexo')
                .then(response => response.json())
                .then(data => {
                    this.Sexos = data

                })
        }
    })

    /*caracteristica Mascota*/
    var app = new Vue({
        el: "#caracteristicaMascota",
        data: {
            listCaracteristicas: [],
            radioName: "caracteristicas",
            abre: "[",
            cierra: "]",
            idFaq: ".idFaq",
            valorMascota: "altaValorMascotaDTOlist",
        },
        created() {
            fetch('https://backendpatitas.herokuapp.com/faq/organizacion/pregunta-tipo?idOrganizacion=' + localStorage.getItem("IDORGANIZACION") + '&idPreguntaTipo=1')
                .then(response => response.json())
                .then(data => {
                    this.listCaracteristicas = data
                })
        },
        methods: {
            insertInput: function (name, id1, type) {
                var cont = 0;
                $(".class" + id1).remove();
                $("input[name=" + name + "]").each(function (index) {
                    if ($(this).is(':checked')) {
                        $('#inputOcultos').append("<input type='hidden' name='caracteristicas[" + id1 + "].altaValorMascotaDTOlist[" + cont + "].idRespuesta'  class='class" + id1 + "' value='" + $(this).val() + "' />");
                        cont++;
                    }
                });
            }
        }

    })

    var mensajeAltaOk = '<div class="alert alert-success"> El alta se realizó con exito.</div>'

    /*alta altaMascota*/
    function altaMascota() {

         if (validarAltaMascota()) {
              if (confirm("Dar de alta una mascota")) {

                var json = form2object('formularioAltaMascota', '.', true);
                $.ajax({
                    url: "https://backendpatitas.herokuapp.com/mascota/alta",
                    dataType: 'json',
                    contentType: "application/json",
                    type: "POST",
                    crossDomain: true,
                    data: JSON.stringify(json),
                    beforeSend: function () {

                      },
                      success: function (data) {
                          if (data.respuesta == "OK") {
                              $("#qr").qrcode({
                                  size: 80,
                                  color: '#3a3',
                                  color:'#3a3',
                                  text:'URL:'+data.url
                              });
                            $('#msgAltaMascota').html(mensajeAltaOk);
                              setTimeout(
                                  function () {
                                      registrar();
                                  }, 2000);

                          }
                      }
                  });
              }

          }
    }


    function loadImageFileAsURL() {
        var filesSelected = document.getElementById("fileLoader").files;
        if (filesSelected.length > 0) {
            var fileToLoad = filesSelected[0];

            var fileReader = new FileReader();

            fileReader.onload = function (fileLoadedEvent) {

                // var ImagenBase64 = document.getElementById("valorFoto");
                //var Imagen = Im.replace('data:image/jpeg;base64,', '')
                $("#valorFoto").val(fileLoadedEvent.target.result);
                $("#srcImg").attr("src", fileLoadedEvent.target.result);
            };

            fileReader.readAsDataURL(fileToLoad);

        }
    }

    function validarAltaMascota() {
        if ($("#nombre").val() == "") {
            alert("El campo nombre no puede estar vacío.");
            $("#nombre").focus();
            return false;
        }
        if ($("#apodo").val() == "") {
            alert("El campo apodo no puede estar vacío.");
            $("#apodo").focus();
            return false;
        }
        if (!$("input[name='idTipoMascota']").is(':checked')) {
            alert('Favor de seleccionar una opción tipo macota');
            return false;
        }


        if ($("#fechaNacimientoAlta").val() == "") {
            alert("El campo Fecha de nacimiento no puede estar vacío.");
            $("#fechaNacimientoAlta").focus();
            return false;
        }
        if ($("#idSexo").val() == "") {
            alert("El campo idSexo no puede estar vacío.");
            return false;
        }

        if ($("#valorFoto").val() == "") {
            alert("Suba una imagen.");
            return false;
        }
        if ($("#descripcionFisica").val() == "") {
            alert("El campo descripcion fisica no puede estar vacío.");
            $("#descripcionFisica").focus();

            return false;
        }
        return true;
    }
</script>

<!-- Imported styles on this page -->
<link rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css">

<!-- Bottom Scripts -->
<script src="assets/js/bootstrap.min.js"></script>


<!-- Imported scripts on this page -->
<script src="assets/js/daterangepicker/daterangepicker.js"></script>
<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
<script src="assets/js/colorpicker/bootstrap-colorpicker.min.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="assets/js/xenon-custom.js"></script>

<script src="js/vendor/jquery.qrcode-0.12.0.min.js"></script>

<script src="plugins/jquery.toObject.js"></script>
<script src="plugins/js2form.js"></script>




