<h3><strong>Registar</strong></h3>


<form role="form" id="formularioAltaPersona">
    <div id="registarPersonaAlta">
        <!-- 1ra fila -->
        <div class="row" id="registarPersona">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Alta Persona</h3>
                    </div>
                    <div class="panel-body">
                        <div id="listaPersona"></div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input type="text" name="nombre" class="form-control" id="nombre" required
                                           placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Apellido:</label>
                                    <input type="text" name="apellido" class="form-control" id="apellido" required
                                           placeholder="Apellido">
                                </div>
                            </div>
                            <div class="col-lg-3">

                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="fechaNacimientoAlta">Fecha de nacimiento:</label>
                                        <input type="text" name="fechaNacimiento" id="fechaNacimientoAlta"
                                               class="form-control datepicker" data-end-date="+1d">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Tipo Doc:</label>
                                            <input type="text" name="documento[0].idTipoDoc" :value="tipoDocHeredado"
                                                   class="form-control"
                                                   id="idTipoDoc"
                                                   disabled="disabled">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Nro Documento:</label>
                                        <input type="text" name="documento[0].numero" :value="nroDocumentoHeredado"
                                               class="form-control"
                                               id="numero"
                                               disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!-- 2da fila -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contacto/s</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input type="text" name="contactos[0].nombreContacto" class="form-control"
                                           id="nombreContacto" required placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Apellido:</label>
                                    <input type="text" name="contactos[0].apellidoContacto" class="form-control"
                                           id="apellidoContacto" requiredplaceholder="Apellido">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="telefonoContacto">Teléfono</label>
                                    <input type="number" class="form-control" id="telefonoContacto"
                                           name="contactos[0].telefonoContacto" required placeholder="telefono">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="emailContacto">Email:</label>
                                    <input type="email" class="form-control" id="emailContacto"
                                           name="contactos[0].emailContacto" required placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Forma Notificación:</label>
                                    <select class="form-control" id="idNotificacion" name="contactos[0].idNotificacion">
                                        <option v-for="notificacion in notificaciones"
                                                :value="notificacion.idMedioNotificacion"
                                                :selected="notificacion.idMedioNotificacion == 1">
                                            {{notificacion.descripcion }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <button type="button" onclick="altaPersona()" class="btn btn-info btn-single pull-right">
                AltaPersona
            </button>
        </div>
    </div>
</form>


<script>

    var mensajeAltaOk = '<div class="alert alert-success"> EL alta se realizó con exito.</div>'


    var app = new Vue({
        el: "#registarPersonaAlta",
        data: {
            notificaciones: [],
            tipoDocHeredado: tipoDocumentoAlta,
            nroDocumentoHeredado: nroDocumentoAlta
        },
        created() {
            fetch('http://localhost:8080/personas/medio-notificacion')
                .then(response => response.json())
                .then(data => {
                    this.notificaciones = data

                })
        }
    })


    /*alta persona*/
    function altaPersona() {

         if (validarAltaPersona()) {
              if (confirm("Dar de alta a persona")) {
                  var json = form2object('formularioAltaPersona', '.', true);
                  $.ajax({
                      url: "http://localhost:8080/personas/alta",
                      dataType: 'json',
                      contentType: "application/json",
                      type: "POST",
                      crossDomain: true,
                      data: JSON.stringify(json),
                      beforeSend: function () {

                      },
                      success: function (data) {
                          if (data.respuesta == "OK") {
                              $('#listaPersona').html(mensajeAltaOk);
                              setTimeout(
                                  function () {
                                      irAltaMasotaOnclick(data.idPersona);
                                  }, 1000);

                          }
                      }
                  });
              }
          }


    }

    function validarAltaPersona() {
        if ($("#nombre").val() == "") {
            alert("El campo nombre no puede estar vacío.");
            $("#nombre").focus();
            return false;
        }
        if ($("#apellido").val() == "") {
            alert("El campo apellido no puede estar vacío.");
            $("#apellido").focus();
            return false;
        }
        if ($("#fechaNacimientoAlta").val() == "") {
            alert("El campo Fecha de nacimiento no puede estar vacío.");
            $("#fechaNacimientoAlta").focus();
            return false;
        }
        if ($("#nombreContacto").val() == "") {
            alert("El campo nombre de contacto no puede estar vacío.");
            $("#nombreContacto").focus();
            return false;
        }
        if ($("#apellidoContacto").val() == "") {
            alert("El campo apellido de contacto no puede estar vacío.");
            $("#apellidoContacto").focus();
            return false;
        }
        if ($("#telefonoContacto").val() == "") {
            alert("El campo telefono no puede estar vacío.");
            $("#telefonoContacto").focus();

            return false;
        }
        emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;

        if (!(emailRegex.test($("#emailContacto").val()))) {
            alert("El campo email no puede estar vacío. o no cumple - USUARIO + @ + SERVIDOR + DOMINIO");
            $("#emailContacto").focus();
            return false;
        }
        return true; // Si todo está correcto
    }


    function irAltaMasotaOnclick(idPersona) {


        $.ajax({
            url: "view/modaRegistrar/alta-mascota.html",
            async: true,
            dataType: "html",
            type: "GET",
            complete: function () {
            },
            success: function (html) {

                $('#navegacionAjax').html("");
                $('#navegacionAjax').html(html);
                $('#idPersona').val(idPersona);

            }
        });


    }
</script>


<!-- Imported styles on this page -->
<link rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css">

<!-- Bottom Scripts -->
<script src="assets/js/bootstrap.min.js"></script>


<!-- Imported scripts on this page -->
<script src="assets/js/daterangepicker/daterangepicker.js"></script>
<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
<script src="assets/js/colorpicker/bootstrap-colorpicker.min.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="assets/js/xenon-custom.js"></script>


<script src="plugins/jquery.toObject.js"></script>
<script src="plugins/js2form.js"></script>
