<h3><strong>Registar</strong></h3>

<!-- 1ra fila -->
<div class="row" id="registarMascota">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filtro busqueda</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Tipo Doc:</label>

                        <select class="form-control" v-model="selected">
                            <option v-for="sexo in sexoMascota" :value="sexo" :key="sexo.idSexo">
                                {{sexo.descripcion }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Nro Documento:</label>
                        <input type="number" class="form-control" min="1" max="12" placeholder="nro doc">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-single pull-right">Buscar persona</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: "#registarMascota",
        data: {
            sexoMascota: []
        },
        created() {
            fetch('http://localhost:8080/mascota/sexo')
                .then(response => response.json())
                .then(data => {
                    this.sexoMascota = data
                })
        }
    })
</script>