
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Resultado de busqueda</h3>
    </div>
    <div class="panel-body">

        <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th>idPersona</th>
                <th>Name</th>
                <th>Apellido</th>
                <th>TipoDoc</th>
                <th>NroDoc</th>
                <th>Cant Masc.</th>
                <th>Estado</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="persona in personas">
                <td>{{persona.idPersona}} </td>
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellido}}</td>
                <td>{{persona.tipoDoc}}</td>
                <td>{{persona.nroDoc}}</td>
                <td>{{persona.cantidadMascota}}</td>
                <td>{{persona.estado}}</td>
                <td><button type="button" @click="irAltaMascota(persona.idPersona)" class="btn btn-default">Alta mascota</button></td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <button type="button" @click="irAltaPersona()" class="btn btn-info btn-single pull-right">
                    ir alta persona
                </button>
            </div>
        </div>
    </div>
</div>

