<div class="panel panel-default" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="panel-heading">
        <h3 class="panel-title">Resultado de busqueda</h3>
    </div>
    <div class="panel-body">

        <span v-if="!mascotas.length">
            <div class="alert alert-info">
                <strong>Vacio!</strong> No hay resultados  de mascotas para mostrar.
            </div>
        </span>
        <span v-else>

            <table class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                <tr>
                    <th>foto</th>
                    <th>nombre</th>
                    <th>apodo</th>
                    <th>Edad</th>
                    <th>sexo</th>
                    <th>tipo</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="mascota in mascotas">
                    <td style="width:20%;"><img v-bind:src="mascota.mascotaFotos[0].valorFoto" style="width:100%;"></td>
                    <td>{{mascota.nombre}}</td>
                    <td>{{mascota.apodo}}</td>
                    <td>{{mascota.edad}}</td>
                    <td>{{mascota.sexoMascota.descripcion}}</td>
                    <td>{{mascota.tipoMascota.nombre}}</td>
                </tr>
                </tbody>
            </table>

            <div class="row" id="irAltaPersona">
                <div class="col-lg-4 col-lg-offset-4">
                    <div v-for="(mascota, key) in mascotas">
                        <span v-if="key == 0">
                            <button type="button" @click="irAltaSoloMascota(mascota.persona.idPersona)"
                                    class="btn btn-info btn-single pull-right">
                        Ir alta mascota
                    </button>
                          </span>
                    </div>

                </div>
            </div>
        </span>
    </div>
</div>

